<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | xml_escape }}{% else %}{{ site.title | xml_escape }}{% endif %}</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | xml_escape }}">

  <link rel="stylesheet" type="text/css" href="/css/main.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | xml_escape }}" href="{{ "/feed.xml" }}">
  
  {% raw %}
  <!-- {% include google-analytics.html %} -->
  {% endraw %}

  <meta property="og:description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | xml_escape }}">
  <meta property="og:site_name" content="{{ site.title | xml_escape }}">
  <meta property="og:title" content="{{ page.title | default: site.title | xml_escape }}">

  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | xml_escape }}">
  <meta property="twitter:domain" content="{{ page.url | replace:'index.html','' | prepend: site.url }}">
  <meta property="twitter:title" content="{{ page.title | default: site.title | xml_escape }}">
</head>
